body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
}

header {
    background-color: #2d88e8;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
}

header h1 {
    margin: 0;
    font-size: 2rem;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem;
}

section {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    margin: 1rem;
    flex: 1 1 calc(33.333% - 2rem);
    min-width: 300px;
}

section h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: #2d88e8;
}

label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
}

input, select, button {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1rem;
    box-sizing: border-box;
}

button {
    background-color: #2d88e8;
    color: #fff;
    cursor: pointer;
    border: none;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #1c6ac9;
}

#auth-button {
    margin: 0;
}
#pair-details, #auth-status, #notification-settings {
    padding: 0.5rem;
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    border-radius: 4px;
}

#pair-details p {
    margin: 0.5rem;
}

footer {
    text-align: center;
    padding: 1rem;
    background-color: #2d88e8;
    color: #fff;
}

.pair-item {
    display: flex;
    justify-content: space-between; /* Разделяет элементы */
    align-items: center; /* Выравнивание по вертикали */
    padding: 5px 0;
    border-bottom: 1px solid #ddd; /* Для разделения строк */
}

.pair-item .symbol {
    flex: 1; /* Символ занимает всё доступное место */
    text-align: left; /* Левое выравнивание */
}

.pair-item .price {
    flex: 0; /* Ширина только по содержимому */
    text-align: left; /* Левое выравнивание */
}
